{% import 'bootstrap/wtf.html' as wtf %}
{% block container %}
<!-- Alex coding here -->
    <div class="container">
        <div id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0"></li>
                <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item">
                    <img src="https://media.karousell.com/media/photos/special-collection/2023/03/02/a4967b8c3df3d151_(1500,610)">
                </div>
                <div class="item active">
                    <img src="https://media.karousell.com/media/photos/special-collection/2023/03/17/440bca55c18e1cb7_(1500,610)">
                </div>
                <div class="item">
                    <img src="https://media.karousell.com/media/photos/special-collection/2023/02/28/adb4246a1fc905ff_(1500,610)">
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
{% endblock %}
