{% import 'bootstrap/wtf.html' as wtf %}

{% block navbar %}
<footer>
    <header>
        <h2>&ensp;&ensp;Top searches</span></h2>
    </header>

    <p class="footer-links">
        &ensp;&ensp;&ensp;
        <a href="#">chanel</a>
        |
        <a href="#">ps5</a>
        |
        <a href="#">iphone</a>
        |
        <a href="#">hermes</a>
        |
        <a href="#">ipad</a>
        |
        <a href="#">celine</a>
        |
        <a href="#">lv</a>
        |
        <a href="#">dior</a>
        |
        <a href="#">red packet</a>
        |
        <a href="#">apple watch</a>
        |
        <a href="#">loewe</a>
        |
        <a href="#">Harbour City coupon</a>
        |
        <a href="#">gucci</a>
        |
        <a href="#">nike</a>
        |
        <a href="#">blackpink</a>
    </p>

    <hr/>

    <header>
        <h3>&ensp;&ensp;Follow Us</span></h3>
    </header>

    <p class="footer-links">
        &ensp;&ensp;&ensp;
        <a href="#">Facebook</a>
        •
        <a href="#">Instagram</a>
        •
        <a href="#">Linkedin</a>
        •
        <a href="#">Blog</a>
        •
        <a href="#">Carousell College</a>
        •
        <a href="#">Autos Blog</a>
        •
        <a href="#">Property Blog</a>
    </p>

    <hr/>

    &ensp;&ensp;
    <img src="https://cdn.discordapp.com/attachments/1030322688398458891/1094311325842276392/image.png"/>

    <p>©2023 Carousell</p>

    <div>
        <p>
            <a href="#">Help Centre</a>
            •
            <a href="#">Contact Us</a>
            •
            <a href="#">Press</a>
            •
            <a href="#">Jobs</a>
            •
            <a href="#">Advertise with Us</a>
            •
            <a href="#">Terms</a>
            •
            <a href="#">Privacy</a>
        </p>
    </div>

    <select id="slctContries">
        <option value="">English</option>
    </select>
{% block scripts %}
    <script>
        let Contries = ["Tsuen Wan", "HongKong"];
        Contries.sort();

        Contries.forEach(function(item){
            let o=document.createElement("option");
            o.text = item;
            o.value = item;
            slctContries.appendChild(o);
        });
    </script>
{% endblock scripts %}
</footer>
{% endblock %}