{% include "base.html.j2" %}
{% include "search_bar.html.j2"%}
{% include "advertise.html.j2" %}

{% import 'bootstrap/wtf.html' as wtf %}

{% include "item.html.j2" %}
{% include "top_searches.html.j2" %}
{% include "follow_us.html.j2" %}
{% extends "footer.html.j2" %}
