{% include "base.html.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
    <!-- Alex coding here -->
    <div class="container">
        <div class="row">
            <div class="col align-self-start">
                <div class="search-1"></div>
                <form action="/search" method="GET" class="d-flex">
                    <input type="search"
                           name="q"
                           class="form-control me-2"
                           placeholder="Search for anything and everying"/>
                    <div class="col align-self-start>
                        <div>
                            <div class="search-2"></div>
                            <form action="/search" method="GET" class="d-flex">
                                <input type="search"
                                       name="q"
                                       class="form-control me-2"
                                       placeholder="All of Hong Kong">
                                <button class="btn btn-primary" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </form>
            <!-- Leo coding here -->
        {% endblock %}
        {% block content %}
            {# <div class="row"> #}
            <div class="container">
                <div class="row">
                    {% for listing in listings %}
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                {% if listing.listing_images %}
                                    <img class="card-img-top"
                                         src="{{ listingimage.data }}"
                                         alt="{{ listing.title }}">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ listing.title }}</h5>
                                    <p class="card-text">{{ listing.description }}</p>
                                    <p class="card-text font-weight-bold">${{ listing.price }}</p>
                                    <a href="404" class="btn btn-primary">View Details</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% include "item.html.j2" %}
        {% endblock %}
                <!-- Alex coding here -->
               {% block container %}
                <div class="container">
                    <div id="myCarousel" class="carousel slide">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0"></li>
                            <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item">
                                <img src="https://media.karousell.com/media/photos/special-collection/2023/03/02/a4967b8c3df3d151_(1500,610)">
                            </div>
                            <div class="item active">
                                <img src="https://media.karousell.com/media/photos/special-collection/2023/03/17/440bca55c18e1cb7_(1500,610)">
                            </div>
                            <div class="item">
                                <img src="https://media.karousell.com/media/photos/special-collection/2023/02/28/adb4246a1fc905ff_(1500,610)">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                </div>
            {% endblock %}
{% include "top_searches.html.j2" %}
{% include "follow_us.html.j2" %}
{% extends "footer.html.j2" %}
