{% include "base.html.j2" %}
{% include "search_bar.html.j2"%}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

{% endblock %}
{% include "follow_us.html.j2" %}
{% extends "footer.html.j2" %}