{% extends "base.html.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<!-- Alex coding here -->
 <h1>Leave a review</h1>
 <br/>
    <div class="row">
        <div class="col-md-4">{{ wtf.quick_form(form) }}</div>
    </div>
{% endblock %}
