{% import 'bootstrap/wtf.html' as wtf %}
{% block navbar %}
<footer class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="h5 mb-3">Top Searches</h2>
        <ul class="list-inline mb-0">
          <li class="list-inline-item"><a href="#">Chanel</a></li>
          <li class="list-inline-item"><a href="#">PS5</a></li>
          <li class="list-inline-item"><a href="#">iPhone</a></li>
          <li class="list-inline-item"><a href="#">Hermes</a></li>
          <li class="list-inline-item"><a href="#">iPad</a></li>
          <li class="list-inline-item"><a href="#">Celine</a></li>
          <li class="list-inline-item"><a href="#">LV</a></li>
          <li class="list-inline-item"><a href="#">Dior</a></li>
          <li class="list-inline-item"><a href="#">Red Packet</a></li>
          <li class="list-inline-item"><a href="#">Apple Watch</a></li>
          <li class="list-inline-item"><a href="#">Loewe</a></li>
          <li class="list-inline-item"><a href="#">Harbour City Coupon</a></li>
          <li class="list-inline-item"><a href="#">Gucci</a></li>
          <li class="list-inline-item"><a href="#">Nike</a></li>
          <li class="list-inline-item"><a href="#">Blackpink</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
{% endblock %}